{% extends "layout.html" %}
{% block body %}
<title>
    Contact Us
</title>

<body>

    <br>
    <br><br>
    <br>
    <div class="contacts" align= "center">
        +254-738296578  <a href="tel: +254-738296578"><br> <button>Call us </button></a>
        <br>
        <br>
        +254-716040297 <a href="tel:  +254-716040297">
            <br><button>Call us </button></a>
    </div>
    <br>
    <br>

    <div class="email_us" align= "center">
        nasckofu@gmail.com <a href="nasckofu@gmail.com"><br> <button>Send Email </button></a>

    </div>
</body>
{% endblock %}}
